html,
body {
  overflow-x: hidden;
}
.hero {
  background-image: url("../img/hero.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  @include tablet {
    height: 300px;
  }
}
.modulo-01 {
  background: #fd4f51;
  padding: 4rem 0 0 0;

  h2 {
    color: #fff;
    font-family: pixel;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 1px 4px 2px #b5393b;
    max-width: 700px;
    text-align: center;
    margin: 0rem auto;
    position: relative;
    @include tablet {
      font-size: 1.75rem;
      max-width: inherit;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -40px;
      left: -120px;
      width: 160px;
      height: 180px;
      background-image: url("../icons/caveira-icon.svg");
      background-size: cover;
      background-repeat: no-repeat;
      @include tablet {
        top: -40px;
        left: 30px;
        width: 50px;
        height: 60px;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      right: -120px;
      width: 130px;
      height: 150px;
      background-image: url("../icons/caveira-icon-2.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(10deg);
      @include tablet {
        top: -40px;
        right: 30px;
        width: 50px;
        height: 60px;
      }
    }
  }
  .content-modulo-01 {
    display: flex;
    margin-top: 3.5rem;
    @include tablet {
      flex-direction: column-reverse;
    }
    .col-img {
      width: 50%;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 140px;
        left: -130px;
        width: 130px;
        height: 180px;
        background-image: url("../icons/interrogacao-detalhe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        @include tablet {
          bottom: 10px;
          right: 30px;
          width: 70px;
          height: 80px;
        }
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -130px;
        width: 90px;
        height: 130px;
        background-image: url("../icons/interrogacao-detalhe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        top: 0;
        transform: rotate(60deg);
        @include tablet {
          bottom: 10px;
          right: 30px;
          width: 70px;
          height: 80px;
        }
      }
      @include tablet {
        width: 100%;
      }
      .boss {
        width: 637px;
        margin-left: 45px;
        position: relative;
        bottom: -80px;
        @include tablet {
          width: 100%;
          margin-left: 0;
          position: relative;
          bottom: 0;
        }
      }
    }
    .col-info {
      width: 50%;
      padding-left: 5rem;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 240px;
        right: -130px;
        width: 130px;
        height: 180px;
        background-image: url("../icons/interrogacao-detalhe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        @include tablet {
          bottom: 10px;
          right: 30px;
          width: 70px;
          height: 80px;
        }
      }
      @include tablet {
        width: 100%;
        padding: 0;
      }
      h4 {
        color: #b93e3f;
        font-family: pixel;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 2rem;
      }
      h5 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #b5393b;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      h3 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #b5393b;
        text-transform: uppercase;
        margin: 1.5rem 0;
      }
      ul {
        list-style-type: none;
      }
      li {
        color: #fff;
        font-family: text;
        font-size: 1.2rem;
        text-shadow: 1px 4px 2px #b5393b;
        position: relative;
        margin-bottom: 1rem;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: -30px;
          width: 20px;
          height: 15px;
          background-image: url("../icons/estrela.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
        strong {
          font-family: pixel;
        }
      }
    }
  }
}
.modulo-02 {
  background-color: #89c761;

  width: 100%;
  .content-modulo {
    display: flex;
    max-width: 1290px;
    margin: auto;
    position: relative;
    @include tablet {
      flex-direction: column;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 190px;
      height: 200px;
      background-image: url("../icons/datalhe-ogro03.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 420px;
      width: 340px;
      height: 170px;
      background-image: url("../icons/datalhe-ogro01.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .col-img {
      width: 50%;
      position: relative;
      @include tablet {
        width: 100%;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -20px;
        right: 80px;
        width: 210px;
        height: 240px;
        background-image: url("../icons/caveira-icon-2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 5;
        @include tablet {
          bottom: 10px;
          right: 30px;
          width: 70px;
          height: 80px;
        }
      }
      .boss {
        position: relative;
        left: -308px;
        top: -3px;
        width: 800px;

        @include tablet {
          left: 0;
          top: 0;
          width: 100%;
        }
      }
    }
    .col-info {
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 1rem;
      @include tablet {
        width: 100%;
        padding-top: 3rem;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -50px;
        left: -139px;
        width: 250px;
        height: 281px;
        background-image: url("../icons/caveira-icon.svg");
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(20deg);
        @include tablet {
          top: -50px;
          left: inherit;
          width: 80px;
          height: 91px;
        }
      }
      h4 {
        color: #6d9c4f;
        font-family: pixel;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 2rem;
      }
      h5 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #6d9c4f;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      h3 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #6d9c4f;
        text-transform: uppercase;
        margin: 1.5rem 0;
      }
      ul {
        max-width: 490px;
        list-style-type: none;
      }
      li {
        color: #fff;
        font-family: text;
        font-size: 1.2rem;
        text-shadow: 1px 4px 2px #6d9c4f;
        margin-bottom: 1rem;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: -30px;
          width: 20px;
          height: 15px;
          background-image: url("../icons/estrela.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
        strong {
          font-family: pixel;
        }
      }
    }
  }
}

.modulo-03 {
  background-color: #ff99e9;
  .content-modulo {
    display: flex;
    max-width: 1290px;
    margin: auto;
    position: relative;
    @include tablet {
      flex-direction: column;
    }
    .col-info {
      width: 50%;
      padding-left: 1rem;
      margin-top: 4rem;
      position: relative;
      @include tablet {
        width: 100%;
        margin-top: 2rem;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -15px;
        right: -130px;
        width: 260px;
        height: 220px;
        background-image: url("../icons/detalhe-princesa.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 210px;
        height: 240px;
        background-image: url("../icons/caveira-icon.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 5;
        left: 0;
        @include tablet {
          bottom: -70px;
          left: 20px;
          width: 70px;
          height: 80px;
        }
      }
      h4 {
        color: #b853a2;
        font-family: pixel;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 2rem;
      }
      h5 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #b853a2;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      h3 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #b853a2;
        text-transform: uppercase;
        margin: 1.5rem 0;
        max-width: 530px;
        position: relative;
        z-index: 3;
      }
      ul {
        max-width: 490px;
        list-style-type: none;
      }
      li {
        color: #fff;
        font-family: text;
        font-size: 1.2rem;
        text-shadow: 1px 4px 2px #b853a2;
        margin-bottom: 1rem;
        position: relative;
        max-width: 400px;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: -30px;
          width: 20px;
          height: 15px;
          background-image: url("../icons/estrela.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
        strong {
          font-family: pixel;
        }
      }
    }
    .col-img {
      width: 50%;
      @include tablet {
        width: 100%;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 50px;
        right: 10px;
        width: 190px;
        height: 220px;
        background-image: url("../icons/caveira-icon-2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        @include tablet {
          bottom: 10px;
          right: 30px;
          width: 70px;
          height: 80px;
        }
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        right: 65px;
        width: 90px;
        height: 120px;
        background-image: url("../icons/detalhe-princesa-02.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }
      .boss {
        position: relative;
        left: -311px;
        width: 909px;
        top: -4px;
        z-index: 2;
        @include tablet {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

.modulo-04 {
  background-color: #ed4e50;
  padding-bottom: 2rem;
  .content-modulo {
    display: flex;
    max-width: 1290px;
    margin: auto;
    position: relative;
    @include tablet {
      flex-direction: column-reverse;
    }
    .col-info {
      width: 50%;
      padding-left: 1rem;
      margin-top: 4rem;
      position: relative;
      @include tablet {
        width: 100%;
        margin-top: 1rem;
      }
      h4 {
        color: #b5393b;
        font-family: pixel;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 2rem;
      }
      h5 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #b5393b;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      h3 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #b5393b;
        text-transform: uppercase;
        margin: 1.5rem 0;
        max-width: 530px;
        position: relative;
        z-index: 3;
      }
      ul {
        max-width: 490px;
        list-style-type: none;
      }
      li {
        color: #fff;
        font-family: text;
        font-size: 1.2rem;
        text-shadow: 1px 4px 2px #b5393b;
        margin-bottom: 1rem;
        position: relative;
        max-width: 400px;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: -30px;
          width: 20px;
          height: 15px;
          background-image: url("../icons/estrela.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
        strong {
          font-family: pixel;
        }
      }
    }
    .col-img {
      width: 50%;
      position: relative;
      @include tablet {
        width: 100%;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -20px;
        left: 10px;
        width: 150px;
        height: 200px;
        background-image: url("../icons/caveira-icon-2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;

        @include tablet {
          bottom: 10px;
          right: 30px;
          width: 70px;
          height: 80px;
        }
      }
      .boss {
        position: relative;
        left: 29px;
        width: 650px;
        top: -6px;
        z-index: 2;
        @include tablet {
          left: 0;
          width: 100%;
          top: -6px;
        }
      }
    }
  }
}

.modulo-05 {
  background-image: url("../img/bg-montanhas.png");
  background-size: cover;
  padding-bottom: 2rem;
  background-position: center;
  .content-modulo {
    display: flex;
    max-width: 1290px;
    margin: auto;
    position: relative;
    @include tablet {
      flex-direction: column-reverse;
    }
    .col-info {
      width: 50%;
      padding-left: 1rem;
      margin-top: 4rem;
      position: relative;
      @include tablet {
        width: 100%;
        margin-top: 1rem;
      }
      h4 {
        color: #300015;
        font-family: pixel;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 2rem;
      }
      h5 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #300015;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      h3 {
        color: #fff;
        font-family: pixel;
        text-shadow: 1px 4px 2px #300015;
        text-transform: uppercase;
        margin: 1.5rem 0;
        max-width: 530px;
        position: relative;
        z-index: 3;
      }
      ul {
        max-width: 490px;
        list-style-type: none;
      }
      li {
        color: #fff;
        font-family: text;
        font-size: 1.2rem;
        text-shadow: 1px 4px 2px #300015;
        margin-bottom: 1rem;
        position: relative;
        max-width: 400px;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: -30px;
          width: 20px;
          height: 15px;
          background-image: url("../icons/estrela.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
        strong {
          font-family: pixel;
        }
      }
    }
    .col-img {
      width: 50%;
      position: relative;
      @include tablet {
        width: 100%;
      }
      img {
        width: 350px;
        position: absolute;
        bottom: 0;
        left: 30px;
      }
    }
  }
}

.sobre-curso {
  background: url("../img/bg-ceu.png");
  background-size: cover;
  background-position: top;
  padding: 4rem 0 4rem 0;
  height: 80vh;
  display: flex;
  @include tablet {
    height: inherit;
    padding: 2rem 0;
  }
  .content-sobre {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .col-info {
    width: 100%;
    h2 {
      color: #fff;
      font-family: pixel;
      text-transform: uppercase;
      font-size: 3.5rem;
      text-shadow: 1px 4px 2px #417a8a;
      position: relative;
      max-width: 440px;
      margin: 2rem auto;
      @include tablet {
        font-size: 1.75rem;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: -60px;
        width: 50px;
        height: 50px;
        background-image: url("../icons/star.png");
        background-size: cover;
        background-repeat: no-repeat;
        // transform: rotate(-10deg);

        @include tablet {
          top: -7px;
          left: 35px;
          width: 40px;
          height: 40px;
        }
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        right: -60px;
        width: 50px;
        height: 50px;
        background-image: url("../icons/star.png");
        background-size: cover;
        background-repeat: no-repeat;
        // transform: rotate(10deg);
        @include tablet {
          top: -7px;
          right: 35px;
          width: 40px;
          height: 40px;
        }
      }
    }
    p {
      color: #fff;
      font-family: text;
      text-shadow: 1px 4px 2px #417a8a91;
      font-size: 1.5rem;
      @include tablet {
        font-size: 1.1rem;
      }
    }
  }
}
.aulas {
  padding: 4rem 0 4rem 0;
  background-color: #ed4e50;
  h2 {
    color: #fff;
    font-family: pixel;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 1px 4px 2px #b5393b;
    max-width: 700px;
    text-align: center;
    margin: 0rem auto;
    position: relative;
    @include tablet {
      font-size: 1.75rem;
      max-width: inherit;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -40px;
      left: 0px;
      width: 90px;
      height: 100px;
      background-image: url("../icons/caveira-icon.svg");
      background-size: cover;
      background-repeat: no-repeat;
      @include tablet {
        top: -40px;
        left: 10px;
        width: 40px;
        height: 50px;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      right: -60px;
      width: 80px;
      height: 90px;
      background-image: url("../icons/caveira-icon-2.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(10deg);
      @include tablet {
        top: -40px;
        right: 10px;
        width: 40px;
        height: 50px;
      }
    }
  }
  #accordion {
    max-width: 930px;
    margin: 5rem auto 0 auto;
    position: relative;
    @include tablet {
      max-width: inherit;
      margin: 2rem auto 0 auto;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      left: -250px;
      width: 320px;
      height: 311px;
      background-image: url("../img/rei-mobile.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(2deg);
      @include tablet {
        display: none;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 50px;
      right: -220px;
      width: 320px;
      height: 314px;
      background-image: url("../img/prejuizo-mobile.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(18deg);
      @include tablet {
        display: none;
      }
    }
    .card {
      border: 1px solid rgb(237, 78, 80);
      z-index: 88;
    }
    .card-header {
      background-color: rgb(185, 59, 61);
      border-bottom: 1px solid rgb(237, 78, 80);
      @include tablet {
        padding: 1rem 15px;
      }
    }
    .btn-link {
      color: #fff;
      text-shadow: 1px 4px 2px #b5393b;
      font-family: pixel;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.35rem;
      @include tablet {
        padding: 0;
        font-size: 0.85rem;
      }
    }
    ul {
      list-style-type: none;
    }
    li {
      color: #fff;
      font-family: text;
      font-size: 1.2rem;
      text-shadow: 1px 4px 2px #b5393b;
      position: relative;
      margin-bottom: 1rem;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        left: -30px;
        width: 20px;
        height: 15px;
        background-image: url("../icons/estrela.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      strong {
        font-family: pixel;
      }
    }
    .card-body {
      border: solid 2px #b93b3d99;
      background: #ed4e50;
      padding: 1.25rem;
      border-top: 0;
      border-bottom: 0;
    }
    .last {
      border-bottom: solid 2px #b93b3d99 !important;
    }
  }
  .start {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    a {
      text-decoration: none;
      border: solid 2px #b5393b;
      border-radius: 20px;
      position: relative;
      color: #fff;
      font-family: pixel;
      text-shadow: 1px 4px 2px #b5393b;
      text-transform: uppercase;
      padding: 0.5rem 2.5rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
      background: #b5393b;
      transition: all ease-in-out 0.5s;
      &:hover {
        border-radius: 5px;
      }
      &::after {
        display: block;
        content: "";
        background-image: url("../icons/mouse.png");
        width: 50px;
        height: 50px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        right: 0;
      }
    }
  }
}

.depoiments {
  padding: 4rem 0;
  background-color: #89c761;
  position: relative;
  .detalhe {
    position: absolute;
    right: 0;
    top: -80px;
    width: 190px;
    height: 211px;
    object-fit: cover;
  }
  .detalhe2 {
    position: absolute;
    bottom: 0;
    width: 380px;
    @include tablet {
      width: 250px;
    }
  }
  .content-depoiments {
    position: relative;
  }
  h2 {
    color: #fff;
    font-family: pixel;
    text-shadow: 1px 4px 2px #6d9c4f;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    max-width: 490px;
    margin: 1rem auto 2.5rem auto;
    @include tablet {
      position: relative;
      z-index: 2;
      font-size: 2rem;
    }
  }
  .item {
    &::after {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #6d9c4f;
      bottom: -11px;
      content: "";
      left: 1px;
      margin-left: 0;
      position: relative;
    }

    article {
      background: #6d9c4f;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1.5rem;
      border-radius: 6px;
      font-family: text;
      position: relative;
      border-bottom-left-radius: 6px;
      max-width: 85%;
      @include tablet {
        max-width: inherit;
        width: 100%;
      }
      .pessoa {
        display: flex;
        align-items: center;
        img {
          border-radius: 50%;
          width: 35px;
          height: 35px;
        }
        h4 {
          margin-bottom: 0;
          margin-left: 0.5rem;
        }
      }
    }
  }
  .start {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    @include tablet {
      position: relative;
      z-index: 2;
    }
    a {
      text-decoration: none;
      border: solid 2px #6d9c4f;
      border-radius: 20px;
      position: relative;
      color: #fff;
      font-family: pixel;
      text-shadow: 1px 4px 2px #6d9c4f;
      text-transform: uppercase;
      padding: 0.5rem 2.5rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
      background: #6d9c4f;
      transition: all ease-in-out 0.5s;
      &::after {
        display: block;
        content: "";
        background-image: url("../icons/mouse.png");
        width: 50px;
        height: 50px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        right: 0;
      }
      &:hover {
        border-radius: 5px;
      }
    }
  }
}
