@import "responsivo";
@import "mixins";
@import "home";
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: pixel;
  src: url(../css/fonts/px.ttf);
}

@font-face {
  font-family: text;
  src: url(../css/fonts/StayPixelRegular-EaOxl.ttf);
}
